@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    overflow-x: hidden;
    background-color: #293251;
    letter-spacing: 2px;
    font-size: 20px;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    min-width: 320px;
    padding: 25px 0 40px 0;
    border-radius: 10px;
}

.header {
    font-size: 30px;
    margin-bottom: 10px;
    color: rgb(194, 47, 174);
}

.api-show {
    background-color: aliceblue;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 10px;
}

.weather-temperature {
    font-size: 35px;
    color: tomato;
    cursor: pointer;
}

.weather-description {
    text-transform: capitalize;
    font-size: 22px;
    color: blue;
}

.location-name {
    color: rgb(228, 162, 39);
    display: flex;
    justify-content: center;
    align-items: center;
}

.notification {
    background-color: #F8D7DA;
    color: darkred;
    width: 100%;
    display: none;
    text-transform: capitalize;
    justify-content: center;
    align-items: center;
    min-height: 30px;
}

@media only screen and (max-width: 600px) {
    body {
        height: 70vh;
    }
}
