.navigation.navigation-bottom button.btn {
	width: 100%;
}

button {
	outline: none !important;
	box-shadow: none !important;
}

.bg-grey {
	background-color: rgb(197, 196, 196) !important;
}

.day-slot {
	cursor: pointer;
}

.weekend {
	pointer-events: none !important;
}

.scheduled-dates {
	height: 520px !important;
	overflow-y: hidden;
}

.scheduled-dates .scroll-container {
	height: 430px !important;
	overflow-y: scroll;
}

.bg-grey.scheduled-day-slot,
.scheduled-day-slot {
	background-color: rgb(184, 184, 241) !important;
}

.table > :not(caption) > * > * {
	padding: 0.2rem 0.2rem;
}
.slot-option {
	width: fit-content;
}

.day-slot.type-3.selected {
	background-color: purple !important;
	pointer-events: none !important;
	color: white !important;
}

.day-slot.type-2.selected {
	background-color: yellow !important;
	pointer-events: none !important;
}
